.Main__sidebar{
   grid-area: sidebar;
   background-color: grey;
}

.item{
   color: white;
   display: block;
   padding: 5px 0px;
   text-align: center;
}

a.activeLink{
   color: aquamarine;
}

.FriendsList{
   padding: 60px 0px 20px 0px;
}

